doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Stephen Johnson
    link(href="https://file.myfontastic.com/imM392osA8XPD5ZF8DLqaf/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/app.css")
  body
    section
      .wrapper
        .row
          .large-12.columns
              h1 Stephen Johnson
              h3 Creative Director, Co-Founder, Entrepreneur and Skier
        .row.icon-row
          .medium-2.small-4.large-expand.columns
            a.icon.icon-facebook(href="https://www.facebook.com/stephenfjohnson.me")
          .medium-2.small-4.large-expand.columns
            a.icon.icon-twitter(href="https://twitter.com/StephenFJohnson")
          .medium-2.small-4.large-expand.columns
            a.icon.icon-medium(href="https://medium.com/@stephenfjohnson")
          .medium-2.small-4.large-expand.columns
            a.icon.icon-instagram(href="https://www.instagram.com/stephenfjohnson/")
          .medium-2.small-4.large-expand.columns
            a.icon.icon-github(href="https://github.com/stephenfjohnson")
          .medium-2.small-4.large-expand.columns
            a.icon.icon-codepen(href="https://codepen.io/stephenfjohnson/")
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/what-input/what-input.js")
    script(src="bower_components/foundation-sites/dist/foundation.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js")
    script(src="js/min/app-min.js")
